# Entorno virtual
.venv/

# Cache de mypy
.mypy_cache/

# Python
__pycache__/
.pytest_cache
*.pyc

# Mac
.DS_Store

# Logs
*.log

# Variables de entorno
.env
*.pem

# Terraform
.terraform/
.terraform.lock.hcl
*.tfplan
*.tfstate
*.tfstate.backup
terraform.tfvars